<a href="https://colab.research.google.com/github/shuvad23/Python-Advanced-Topics-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# how to read a file using pandas-------------------------------

# df=pd.read_csv('sales_data_sample.csv',encoding='latin1')
# df=pd.read_excel('/content/SampleSuperstore.xlsx')
# df=pd.read_json('/content/sample_Data.json')
# print(df)

#using head() see only first 5 rows -------------
# df.head()
#
#using tail() see only last 5 rows--------------------------
# df.tail()

In [3]:
from sys import flags

# how to save data in a file--------------------------

fruits_data={
    "Fruits":['Apple','Bananas','Charry'],
    "Quentity":[23,45,32],
    "Price":[349,545,643]
}
df=pd.DataFrame(fruits_data)# first dict to inside the data frame

df.to_csv('fruits.csv',index=False)# then the save the file using csv or excel or json
df.to_excel('fruits.xlsx',index=False)
df.to_json('fruits.json',index=False)
datafile=pd.read_csv('fruits.csv')
datafile=pd.read_excel('fruits.xlsx')
datafile=pd.read_json('fruits.json')
print(datafile)

    Fruits  Quentity  Price
0    Apple        23    349
1  Bananas        45    545
2   Charry        32    643
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruits    3 non-null      object
 1   Quentity  3 non-null      int64
 2   Price     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 96.0+ bytes
None

In [29]:
#information of the dataset---------------------------
"""
In pandas, the info() method is used to provide a concise summary of a DataFrame. It includes details such as:

1.The number of rows and columns.

2.The column names and their data types.

3.The number of non-null values in each column.

4.The memory usage of the DataFrame.

This method is particularly useful for understanding the structure of your data and identifying missing values or data type issues



Key Use Cases:
1.Check for Missing Values:
      The Non-Null Count column shows how many non-null values are present in each column.
      If this count is less than the total number of rows, it indicates missing values.

2.Verify Data Types:
      Ensures that columns have the correct data types (e.g., numeric columns should not be object).

3.Memory Optimization:
      Helps identify memory usage, which can be useful for large datasets.


"""
df=pd.read_csv('/sales_data_sample.csv',encoding='latin1')
# df.info()
# df.info(show_counts=False)#show_counts: If False, hides the non-null counts (useful for large DataFrames).
# df.info(verbose=False) #verbose: If True, provides additional details (e.g., memory usage breakdown by column).
# df.info(memory_usage='deep')#memory_usage: Controls whether memory usage is displayed. Options are True, False, or 'deep' for a more accurate calculation.

# Similar Methods:
# df.describe()#Provides summary statistics for numeric columns.
# df.shape #Returns the dimensions of the DataFrame (rows, columns)
# df.isnull().sum() #Counts the number of missing values in each column.
# df.columns #Returns the column names of the DataFrame.

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [71]:
from os import name
# select single columns and maltiple columns-----------------------

"""

1. Using Square Brackets []
  You can select a single column by passing the column name as a string inside square brackets.
  This returns a Series.

"""
# name_columns=df['CITY']#1. selecting single columns-----------------
# name_columns=df.CITY#1. WE ALSO selecting single columns Like this -----------------

# name_columns=df[['CITY','STATUS','POSTALCODE']]# 2. Selecting Multiple Columns

"""
3. Using .loc[] (Label-Based Selection)
    The .loc[] method allows you to select columns by their names.
    It is label-based and can also be used to select rows.

"""
# name_columns=df.loc[:,'CITY']#3. Using .loc[] (Label-Based Selection)
name_columns=df.loc[:,['CITY','STATUS','POSTALCODE']]# multiple selection Using .loc[] (Label-Based Selection)
name_columns=df.loc[0:5,['CITY','STATUS','POSTALCODE']]
name_columns=df.loc[-5:,['CITY','STATUS','POSTALCODE']]
name_columns=df.loc[0:5,'CITY':'POSTALCODE']

"""
4. Using .iloc[] (Integer-Based Selection)
    The .iloc[] method allows you to select columns by their
    integer index positions (starting from 0).

"""
name_columns=df.iloc[:,1]#4. Using .iloc[] (Integer-Based Selection)
name_columns=df.iloc[:,1:4]
name_columns=df.iloc[:5,1:4]
name_columns=df.iloc[-5:,1:4]
name_columns=df.iloc[0:5,[0,5]]


"""
In pandas, the .filter() method is a flexible way to select columns from a DataFrame
          based on their names or patterns. It is particularly useful when you want to select
          columns that match specific criteria, such as containing a certain substring or matching a regular expression.

Key Parameters of .filter():
      1.items: A list of column names to include.

      2.like: A substring to match in column names.

      3.regex: A regular expression to match column names.

"""
name_columns=df.filter(items=['CITY','STATUS','POSTALCODE'])
name_columns=df.filter(like='CI')#2. Select Columns Containing a Substring (like) You can us the like parameter to select columns whose names contain a specific substring.
name_columns=df.filter(regex='^C')# 3. Select Columns Using a Regular Expression (regex) You can use the regex parameter to select columns whose names match a regular expression.
name_columns=df.filter(regex='^(?!CITY$).*')#5. Excluding Columns - You can exclude columns by using a regular expression that matches everything except the columns you want to exclude.
print(name_columns.head())
# print(name_columns)

"""

Summary of Methods:
Method	                        Use Case	                                    Returns
df['column']	                  Select a single column	                      Series
df[['col1', 'col2']]	          Select multiple columns	                      DataFrame
df.loc[:, 'column']	            Select a single column (label-based)	        Series
df.loc[:, ['col1', 'col2']]	    Select multiple columns (label-based)	        DataFrame
df.iloc[:, index]	              Select a single column (integer-based)	      Series
df.iloc[:, [index1, index2]]	  Select multiple columns (integer-based)	      DataFrame
df.filter()	                    Select columns based on names or patterns   	DataFrame
df.column	                      Select a single column (dot notation)	        Series



Summary of .filter():
Parameter	                Description
items	                    Select columns by exact names (list of column names).
like	                    Select columns whose names contain a specific substring.
regex	                    Select columns whose names match a regular expression.

When to Use .filter():
     1. When you need to select columns based on patterns or partial matches.
     2. When you want to exclude specific columns.
     3. When you need a flexible way to select columns without hardcoding their names.

"""

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...             PHONE  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...        2125557818
1    5/7/2003 0:00  Shipped       2         5     2003  ...        26.47.1555
2    7/1/2003 0:00  Shipped       3         7     2003  ...  +33 1 46 62 7555
3   8/25/2003 0:00  Shipped       3         8     2003  ...        6265557265
4  10/10/2003 0:00  Shipped       4        10     2003  ...        6505551386

                    ADDRESSLINE1 ADDRESSLINE2 STATE POSTALCODE COUNTRY  \
0        897 Long Airport Avenue          NaN    NY      10022     USA
1             59 rue de l'Abbaye          NaN   NaN      51100  France
2  27 rue du Colonel Pierre Avia          NaN   NaN      75508  France
3             78934 Hillside Dr.          NaN    CA      90003     USA
4                7734 Strong St.          NaN    CA        NaN     USA

  TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0       NaN              Yu             Kwai    Small
1      EMEA         Henriot             Paul    Small
2      EMEA        Da Cunha           Daniel   Medium
3       NaN           Young            Julie   Medium
4       NaN           Brown            Julie   Medium

[5 rows x 24 columns]

"\n\nSummary of Methods:\nMethod\t                        Use Case\t                                    Returns\ndf['column']\t                  Select a single column\t                      Series\ndf[['col1', 'col2']]\t          Select multiple columns\t                      DataFrame\ndf.loc[:, 'column']\t            Select a single column (label-based)\t        Series\ndf.loc[:, ['col1', 'col2']]\t    Select multiple columns (label-based)\t        DataFrame\ndf.iloc[:, index]\t              Select a single column (integer-based)\t      Series\ndf.iloc[:, [index1, index2]]\t  Select multiple columns (integer-based)\t      DataFrame\ndf.filter()\t                    Select columns based on names or patterns   \tDataFrame\ndf.column\t                      Select a single column (dot notation)\t        Series\n\n\n"

In [96]:
# Filtering Rows Based on Conditions-------------------------

"""
Filtering data in pandas is one of the most common tasks when working with DataFrames.
    It allows you to extract rows or columns that meet specific conditions.
    Below are the most common methods for filtering data in pandas:

1. Filtering Rows Based on Conditions
  You can filter rows by applying conditions to one or more columns.
  The result is a DataFrame containing only the rows that satisfy the condition(s).

"""
condition1=df[df['QUANTITYORDERED'] > 50]
condition2=df[(df['QUANTITYORDERED'] > 50) & (df['STATUS'] == 'Shipped')]
condition3=df[(df['QUANTITYORDERED'] > 50) | (df['STATUS'] == 'Shipped')]
condition4=df[~(df['QUANTITYORDERED'] > 50)]
# print(condition1.head())
# print(condition2.head())
# print(condition3.head())
# print(condition4.head())


"""

3. Filtering with .query()
  The .query() method allows you to filter rows using a string expression.

"""
filtered_df=df.query('QUANTITYORDERED > 50')
filtered_df=df.query('QUANTITYORDERED > 50 and STATUS == "Shipped"')
filtered_df=df.query('QUANTITYORDERED > 50 or STATUS == "Shipped"')
filtered_df=df.query('not QUANTITYORDERED > 50')
# print(filtered_df.head())

"""

4. Filtering with .isin()
The .isin() method is useful for filtering rows where a column's value is in a list of values.

"""
filtered_df=df[df['STATUS'].isin(['Shipped','Cancelled'])]
filtered_df=df[~df['STATUS'].isin(['Shipped','Cancelled'])]
filtered_df=df.query('STATUS in ["Shipped","Cancelled"]')
filtered_df=df.query('STATUS not in ["Shipped","Cancelled"]')
# print(filtered_df.head())


"""

5. Filtering with .str.contains()
For string columns, you can filter rows where a column contains a specific substring.

"""
filtered_df=df[df['STATUS'].str.contains('Ship')]
filtered_df=df[~df['STATUS'].str.contains('Ship')]
filtered_df=df.query('STATUS.str.contains("Ship")')
filtered_df=df.query('not STATUS.str.contains("Ship")')
# print(filtered_df.head())

# Filtering with .str.startswith() and .str.endswith()
filtered_df=df[df['STATUS'].str.startswith('Ship')]
filtered_df=df[df['STATUS'].str.endswith('ed')]
# print(filtered_df.head())

"""

6. Filtering with .loc[]
The .loc[] method allows you to filter rows and select specific columns simultaneously.

"""
filtered_df=df.loc[df['QUANTITYORDERED'] > 50,['CITY']]
filtered_df=df.loc[(df['QUANTITYORDERED'] > 50) & (df['STATUS'] == 'Shipped'),['CITY']]
# print(filtered_df.head())


"""

8. Filtering Missing Values
You can filter rows based on missing or non-missing values using .isna() or .notna().

"""
filtered_df=df[df['POSTALCODE'].isna()] # Filter rows where 'Age' is  missing
filtered_df=df[df['POSTALCODE'].notna()] ## Filter rows where 'Age' is not missing
# print(filtered_df.head())


"""

9. Filtering with .between()
The .between() method is useful for filtering rows where a column's value falls within a range.

"""
filtered_df=df[df['QUANTITYORDERED'].between(20,25)]
filtered_df=df[(df['QUANTITYORDERED'] >= 20) & (df['QUANTITYORDERED'] <= 25)]
# print(filtered_df.head())


"""

10. Filtering with .apply()
You can use .apply() to filter rows based on a custom function.

"""
def custom_filter(row):
    return row['QUANTITYORDERED'] > 50 and row['STATUS'] == 'Shipped'

filtered_df=df[df.apply(custom_filter, axis=1)]
#note-(axis=1 ensures the function is applied row-wise.)
#note-( custom_filter function to each row of the DataFrame.)

filtered_df=df[df['CITY'].apply(lambda x : x.startswith('M'))] # using lambda funciton ----------------
print(filtered_df.head())



"""

Summary of Filtering Methods:
Method	                            Use Case
df[df['column'] > value]	          Filter rows based on a condition.
&, `	, ~`	                        Combine multiple conditions.
.query()	                          Filter rows using a string expression.
.isin()	                            Filter rows where a column's value is in a list.
.str.contains()	                    Filter rows where a string column contains a substring.
.loc[]	                            Filter rows and select columns by labels.
.iloc[]	                            Filter rows and select columns by integer positions.
.isna(), .notna()	                  Filter rows based on missing or non-missing values.
.between()	                        Filter rows where a column's value is within a range.
.apply()	                          Filter rows using a custom function.
.str.startswith()                   Filter rows where a string column starts with a substring.
.str.endswith()                     Filter rows where a string column ends with a substring.
"""

    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10        10223               37      100.0                1  3965.66
25        10417               66      100.0                2  7516.08
28        10126               38      100.0               11  7329.06
39        10258               32      100.0                6  7680.64
47        10347               30      100.0                1  3944.70

          ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10   2/20/2004 0:00   Shipped       1         2     2004  ...
25   5/13/2005 0:00  Disputed       2         5     2005  ...
28   5/28/2003 0:00   Shipped       2         5     2003  ...
39   6/15/2004 0:00   Shipped       2         6     2004  ...
47  11/29/2004 0:00   Shipped       4        11     2004  ...

          ADDRESSLINE1  ADDRESSLINE2       CITY     STATE POSTALCODE  \
10   636 St Kilda Road       Level 3  Melbourne  Victoria       3004
25  C/ Moralzarzal, 86           NaN     Madrid       NaN      28034
28      C/ Araquil, 67           NaN     Madrid       NaN      28023
39      2-2-8 Roppongi           NaN  Minato-ku     Tokyo   106-0032
47   636 St Kilda Road       Level 3  Melbourne  Victoria       3004

      COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
10  Australia      APAC        Ferguson            Peter   Medium
25      Spain      EMEA          Freyre            Diego    Large
28      Spain      EMEA          Sommer           MartÂ¡n    Large
39      Japan     Japan       Shimamura            Akiko    Large
47  Australia      APAC        Ferguson            Peter   Medium

[5 rows x 25 columns]