<a href="https://colab.research.google.com/github/shuvad23/Python-Advanced-Topics-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# how to read a file using pandas-------------------------------

df=pd.read_csv('sales_data_sample.csv',encoding='latin1')
# df=pd.read_excel('/content/SampleSuperstore.xlsx')
# df=pd.read_json('/content/sample_Data.json')
# print(df)

#using head() see only first 5 rows -------------
# df.head()
#
#using tail() see only last 5 rows--------------------------
# df.tail()

In [ ]:

# how to save data in a file--------------------------

fruits_data={
    "Fruits":['Apple','Bananas','Charry'],
    "Quentity":[23,45,32],
    "Price":[349,545,643]
}
df=pd.DataFrame(fruits_data)# first dict to inside the data frame

df.to_csv('fruits.csv',index=False)# then the save the file using csv or excel or json
df.to_excel('fruits.xlsx',index=False)
df.to_json('fruits.json',index=False)
datafile=pd.read_csv('fruits.csv')
datafile=pd.read_excel('fruits.xlsx')
datafile=pd.read_json('fruits.json')
print(datafile)

    Fruits  Quentity  Price
0    Apple        23    349
1  Bananas        45    545
2   Charry        32    643
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruits    3 non-null      object
 1   Quentity  3 non-null      int64
 2   Price     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 96.0+ bytes
None

In [ ]:
#information of the dataset---------------------------
"""
In pandas, the info() method is used to provide a concise summary of a DataFrame. It includes details such as:

1.The number of rows and columns.

2.The column names and their data types.

3.The number of non-null values in each column.

4.The memory usage of the DataFrame.

This method is particularly useful for understanding the structure of your data and identifying missing values or data type issues



Key Use Cases:
1.Check for Missing Values:
      The Non-Null Count column shows how many non-null values are present in each column.
      If this count is less than the total number of rows, it indicates missing values.

2.Verify Data Types:
      Ensures that columns have the correct data types (e.g., numeric columns should not be object).

3.Memory Optimization:
      Helps identify memory usage, which can be useful for large datasets.



What is Standard Deviation?
                  Imagine you and your friends measured the heights of 5 dogs (in cm):
                  [40, 50, 60, 70, 80]

                  Mean (Average) Height = (40 + 50 + 60 + 70 + 80) / 5 = 60 cm

                  Deviations from Mean:

                  40 is 20 cm below the mean (40 - 60 = -20)

                  50 is 10 cm below the mean (50 - 60 = -10)

                  60 is 0 cm away (exactly the mean)

                  70 is 10 cm above the mean

                  80 is 20 cm above the mean

                  Squared Deviations (to remove negative signs):

                  (-20)Â² = 400

                  (-10)Â² = 100

                  0Â² = 0

                  10Â² = 100

                  20Â² = 400

                  Variance = Average of squared deviations = (400 + 100 + 0 + 100 + 400) / 5 = 200

                  Standard Deviation (std) = âˆšVariance = âˆš200 â‰ˆ 14.14 cm

                  What Does std=14.14 Mean?
                  It tells us that, on average, each dogâ€™s height is about 14 cm away from the mean height (60 cm).

                  A low std (e.g., 2 cm) â†’ Most dogs are almost the same height.

                  A high std (e.g., 20 cm) â†’ Dogs' heights vary a lot.

                  Real-Life Example
                  Letâ€™s take two classes with exam scores:

                  Class A	Class B
                  70, 75, 80, 85, 90	50, 60, 80, 100, 110
                  Mean of both classes = 80

                  std of Class A â‰ˆ 7.9 (scores are close to 80)

                  std of Class B â‰ˆ 22.4 (scores are very spread out)

                  ðŸ‘‰ Class A has consistent performance (low std).
                  ðŸ‘‰ Class B has mixed performance (high std).

"""
df=pd.read_csv('/content/sales_data_sample.csv',encoding='latin1')
# df.info()
# df.info(show_counts=False)#show_counts: If False, hides the non-null counts (useful for large DataFrames).
# df.info(verbose=False) #verbose: If True, provides additional details (e.g., memory usage breakdown by column).
# df.info(memory_usage='deep')#memory_usage: Controls whether memory usage is displayed. Options are True, False, or 'deep' for a more accurate calculation.

# Similar Methods:
# df.describe()#Provides summary statistics for numeric columns.
# df.shape #Returns the dimensions of the DataFrame (rows, columns)
# df.isnull().sum() #Counts the number of missing values in each column.
# df.columns #Returns the column names of the DataFrame.

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [ ]:
from os import name
# select single columns and maltiple columns-----------------------

"""

1. Using Square Brackets []
  You can select a single column by passing the column name as a string inside square brackets.
  This returns a Series.

"""
# name_columns=df['CITY']#1. selecting single columns-----------------
# name_columns=df.CITY#1. WE ALSO selecting single columns Like this -----------------

# name_columns=df[['CITY','STATUS','POSTALCODE']]# 2. Selecting Multiple Columns

"""
3. Using .loc[] (Label-Based Selection)
    The .loc[] method allows you to select columns by their names.
    It is label-based and can also be used to select rows.

"""
name_columns=df.loc[:,'CITY']#3. Using .loc[] (Label-Based Selection)
name_columns=df.loc[:,['CITY','STATUS','POSTALCODE']]# multiple selection Using .loc[] (Label-Based Selection)
name_columns=df.loc[0:5,['CITY','STATUS','POSTALCODE']]
name_columns=df.loc[-5:,['CITY','STATUS','POSTALCODE']]
name_columns=df.loc[0:5,'CITY':'POSTALCODE']

"""
4. Using .iloc[] (Integer-Based Selection)
    The .iloc[] method allows you to select columns by their
    integer index positions (starting from 0).

"""
# name_columns=df.iloc[:,1]#4. Using .iloc[] (Integer-Based Selection)
# name_columns=df.iloc[:,1:4]
# name_columns=df.iloc[:5,1:4]
# name_columns=df.iloc[-5:,1:4]
# name_columns=df.iloc[0:5,[0,5]]


"""
In pandas, the .filter() method is a flexible way to select columns from a DataFrame
          based on their names or patterns. It is particularly useful when you want to select
          columns that match specific criteria, such as containing a certain substring or matching a regular expression.

Key Parameters of .filter():
      1.items: A list of column names to include.

      2.like: A substring to match in column names.

      3.regex: A regular expression to match column names.

"""
# name_columns=df.filter(items=['CITY','STATUS','POSTALCODE'])
# name_columns=df.filter(like='CI')#2. Select Columns Containing a Substring (like) You can us the like parameter to select columns whose names contain a specific substring.
# name_columns=df.filter(regex='^C')# 3. Select Columns Using a Regular Expression (regex) You can use the regex parameter to select columns whose names match a regular expression.
# name_columns=df.filter(regex='^(?!CITY$).*')#5. Excluding Columns - You can exclude columns by using a regular expression that matches everything except the columns you want to exclude.
# print(name_columns.head())
# print(name_columns)

"""

Summary of Methods:
Method	                        Use Case	                                    Returns
df['column']	                  Select a single column	                      Series
df[['col1', 'col2']]	          Select multiple columns	                      DataFrame
df.loc[:, 'column']	            Select a single column (label-based)	        Series
df.loc[:, ['col1', 'col2']]	    Select multiple columns (label-based)	        DataFrame
df.iloc[:, index]	              Select a single column (integer-based)	      Series
df.iloc[:, [index1, index2]]	  Select multiple columns (integer-based)	      DataFrame
df.filter()	                    Select columns based on names or patterns   	DataFrame
df.column	                      Select a single column (dot notation)	        Series



Summary of .filter():
Parameter	                Description
items	                    Select columns by exact names (list of column names).
like	                    Select columns whose names contain a specific substring.
regex	                    Select columns whose names match a regular expression.

When to Use .filter():
     1. When you need to select columns based on patterns or partial matches.
     2. When you want to exclude specific columns.
     3. When you need a flexible way to select columns without hardcoding their names.

"""

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                 PHONE                   ADDRESSLINE1 ADDRESSLINE2 STATE  \
0           2125557818        897 Long Airport Avenue          NaN    NY
1           26.47.1555             59 rue de l'Abbaye          NaN   NaN
2     +33 1 46 62 7555  27 rue du Colonel Pierre Avia          NaN   NaN
3           6265557265             78934 Hillside Dr.          NaN    CA
4           6505551386                7734 Strong St.          NaN    CA
...                ...                            ...          ...   ...
2818    (91) 555 94 44             C/ Moralzarzal, 86          NaN   NaN
2819        981-443655                    Torikatu 38          NaN   NaN
2820    (91) 555 94 44             C/ Moralzarzal, 86          NaN   NaN
2821        61.77.6555          1 rue Alsace-Lorraine          NaN   NaN
2822        6175559555             8616 Spinnaker Dr.          NaN    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 24 columns]

"\n\nSummary of Methods:\nMethod\t                        Use Case\t                                    Returns\ndf['column']\t                  Select a single column\t                      Series\ndf[['col1', 'col2']]\t          Select multiple columns\t                      DataFrame\ndf.loc[:, 'column']\t            Select a single column (label-based)\t        Series\ndf.loc[:, ['col1', 'col2']]\t    Select multiple columns (label-based)\t        DataFrame\ndf.iloc[:, index]\t              Select a single column (integer-based)\t      Series\ndf.iloc[:, [index1, index2]]\t  Select multiple columns (integer-based)\t      DataFrame\ndf.filter()\t                    Select columns based on names or patterns   \tDataFrame\ndf.column\t                      Select a single column (dot notation)\t        Series\n\n\n\nSummary of .filter():\nParameter\t                Description\nitems\t                    Select columns by exact names (list of column names).\nlike\t                    Select columns whose names contain a specific substring.\nregex\t                    Select columns whose names match a regular expression.\n\nWhen to Use .filter():\n     1. When you need to select columns based on patterns or partial matches.\n     2. When you want to exclude specific columns.\n     3. When you need a flexible way to select columns without hardcoding their names.\n\n"

In [ ]:
# Filtering Rows Based on Conditions-------------------------

"""
Filtering data in pandas is one of the most common tasks when working with DataFrames.
    It allows you to extract rows or columns that meet specific conditions.
    Below are the most common methods for filtering data in pandas:

1. Filtering Rows Based on Conditions
  You can filter rows by applying conditions to one or more columns.
  The result is a DataFrame containing only the rows that satisfy the condition(s).

"""
condition1=df[df['QUANTITYORDERED'] > 50]
condition2=df[(df['QUANTITYORDERED'] > 50) & (df['STATUS'] == 'Shipped')]
condition3=df[(df['QUANTITYORDERED'] > 50) | (df['STATUS'] == 'Shipped')]
condition4=df[~(df['QUANTITYORDERED'] > 50)]
# print(condition1.head())
# print(condition2.head())
# print(condition3.head())
# print(condition4.head())


"""

3. Filtering with .query()
  The .query() method allows you to filter rows using a string expression.

"""
filtered_df=df.query('QUANTITYORDERED > 50')
filtered_df=df.query('QUANTITYORDERED > 50 and STATUS == "Shipped"')
filtered_df=df.query('QUANTITYORDERED > 50 or STATUS == "Shipped"')
filtered_df=df.query('not QUANTITYORDERED > 50')
# print(filtered_df.head())

"""

4. Filtering with .isin()
The .isin() method is useful for filtering rows where a column's value is in a list of values.

"""
filtered_df=df[df['STATUS'].isin(['Shipped','Cancelled'])]
filtered_df=df[~df['STATUS'].isin(['Shipped','Cancelled'])]
filtered_df=df.query('STATUS in ["Shipped","Cancelled"]')
filtered_df=df.query('STATUS not in ["Shipped","Cancelled"]')
# print(filtered_df.head())


"""

5. Filtering with .str.contains()
For string columns, you can filter rows where a column contains a specific substring.

"""
filtered_df=df[df['STATUS'].str.contains('Ship')]
filtered_df=df[~df['STATUS'].str.contains('Ship')]
filtered_df=df.query('STATUS.str.contains("Ship")')
filtered_df=df.query('not STATUS.str.contains("Ship")')
# print(filtered_df.head())

# Filtering with .str.startswith() and .str.endswith()
filtered_df=df[df['STATUS'].str.startswith('Ship')]
filtered_df=df[df['STATUS'].str.endswith('ed')]
# print(filtered_df.head())

"""

6. Filtering with .loc[]
The .loc[] method allows you to filter rows and select specific columns simultaneously.

"""
filtered_df=df.loc[df['QUANTITYORDERED'] > 50,['CITY']]
filtered_df=df.loc[(df['QUANTITYORDERED'] > 50) & (df['STATUS'] == 'Shipped'),['CITY']]
# print(filtered_df.head())


"""

8. Filtering Missing Values
You can filter rows based on missing or non-missing values using .isna() or .notna().

"""
filtered_df=df[df['POSTALCODE'].isna()] # Filter rows where 'POSTALCODE' is  missing
filtered_df=df[df['POSTALCODE'].notna()] ## Filter rows where 'POSTALCODE' is not missing
# print(filtered_df.head())


"""

9. Filtering with .between()
The .between() method is useful for filtering rows where a column's value falls within a range.

"""
filtered_df=df[df['QUANTITYORDERED'].between(20,25)]
filtered_df=df[(df['QUANTITYORDERED'] >= 20) & (df['QUANTITYORDERED'] <= 25)]
# print(filtered_df.head())


"""

10. Filtering with .apply()
You can use .apply() to filter rows based on a custom function.

"""
def custom_filter(row):
    return row['QUANTITYORDERED'] > 50 and row['STATUS'] == 'Shipped'

filtered_df=df[df.apply(custom_filter, axis=1)]
#note-(axis=1 ensures the function is applied row-wise.)
#note-( custom_filter function to each row of the DataFrame.)

filtered_df=df[df['CITY'].apply(lambda x : x.startswith('M'))] # using lambda funciton ----------------
print(filtered_df.head())



"""

Summary of Filtering Methods:
Method	                            Use Case
df[df['column'] > value]	          Filter rows based on a condition.
&, `	, ~`	                        Combine multiple conditions.
.query()	                          Filter rows using a string expression.
.isin()	                            Filter rows where a column's value is in a list.
.str.contains()	                    Filter rows where a string column contains a substring.
.loc[]	                            Filter rows and select columns by labels.
.iloc[]	                            Filter rows and select columns by integer positions.
.isna(), .notna()	                  Filter rows based on missing or non-missing values.
.between()	                        Filter rows where a column's value is within a range.
.apply()	                          Filter rows using a custom function.
.str.startswith()                   Filter rows where a string column starts with a substring.
.str.endswith()                     Filter rows where a string column ends with a substring.
"""

          CITY
104  Liverpool
131   San Jose
260   Salzburg
264  Liverpool
392     Madrid
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10        10223               37      100.0                1  3965.66
25        10417               66      100.0                2  7516.08
28        10126               38      100.0               11  7329.06
39        10258               32      100.0                6  7680.64
47        10347               30      100.0                1  3944.70

          ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10   2/20/2004 0:00   Shipped       1         2     2004  ...
25   5/13/2005 0:00  Disputed       2         5     2005  ...
28   5/28/2003 0:00   Shipped       2         5     2003  ...
39   6/15/2004 0:00   Shipped       2         6     2004  ...
47  11/29/2004 0:00   Shipped       4        11     2004  ...

          ADDRESSLINE1  ADDRESSLINE2       CITY     STATE POSTALCODE  \
10   636 St Kilda Road       Level 3  Melbourne  Victoria       3004
25  C/ Moralzarzal, 86           NaN     Madrid       NaN      28034
28      C/ Araquil, 67           NaN     Madrid       NaN      28023
39      2-2-8 Roppongi           NaN  Minato-ku     Tokyo   106-0032
47   636 St Kilda Road       Level 3  Melbourne  Victoria       3004

      COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
10  Australia      APAC        Ferguson            Peter   Medium
25      Spain      EMEA          Freyre            Diego    Large
28      Spain      EMEA          Sommer           MartÂ¡n    Large
39      Japan     Japan       Shimamura            Akiko    Large
47  Australia      APAC        Ferguson            Peter   Medium

[5 rows x 25 columns]

"\n\nSummary of Filtering Methods:\nMethod\t                            Use Case\ndf[df['column'] > value]\t          Filter rows based on a condition.\n&, `\t, ~`\t                        Combine multiple conditions.\n.query()\t                          Filter rows using a string expression.\n.isin()\t                            Filter rows where a column's value is in a list.\n.str.contains()\t                    Filter rows where a string column contains a substring.\n.loc[]\t                            Filter rows and select columns by labels.\n.iloc[]\t                            Filter rows and select columns by integer positions.\n.isna(), .notna()\t                  Filter rows based on missing or non-missing values.\n.between()\t                        Filter rows where a column's value is within a range.\n.apply()\t                          Filter rows using a custom function.\n.str.startswith()                   Filter rows where a string column starts with a substring.\n.str.endswith()                     Filter rows where a string column ends with a substring.\n"

In [ ]:
# Summary Functions and Maps------------------


import pandas as pd
import numpy as np


# Create a sample DataFrame
data = {
        'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000],
        'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston'],
        'Experience': [2, 5, 8, 10, 15],
        'Rating': [4.5, 4.0, 3.5, 3.0, 2.5],
        'Status': ['Active', 'Inactive', 'Active', 'Inactive', 'Active'],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Married': ['Yes', 'No', 'Yes', 'No', 'Yes']
        }
df = pd.DataFrame(data)


# Basic summaries
print(df.describe())  # Summary statistics for numerical columns
"""

Understanding the Error
The error message suggests you tried to use a summary function (like mean(),
median(), etc.) on columns containing:

    Names (like 'Alice', 'Bob', etc.)

    Departments (like 'HR', 'IT', etc.)

    Cities (like 'New York', 'San Francisco', etc.)

These are all string (text) values that can't be converted to
numbers for mathematical operations.

"""
numeric_df=df.select_dtypes(include=['number'])
print(numeric_df.mean())      # Mean of each numerical column
print(numeric_df.median())    # Median
print(df.mode())              # Mode (most frequent value)
print(numeric_df.std())       # Standard deviation
print(df.min())               # Minimum value
print(df.max())               # Maximum value


# Unique Values and Counts
print(df['Name'].unique())  # Unique values in a column
print(df['Name'].value_counts())  # Count of each unique value

             Age        Salary  Experience    Rating
count   5.000000      5.000000    5.000000  5.000000
mean   35.000000  70000.000000    8.000000  3.500000
std     7.905694  15811.388301    4.949747  0.790569
min    25.000000  50000.000000    2.000000  2.500000
25%    30.000000  60000.000000    5.000000  3.000000
50%    35.000000  70000.000000    8.000000  3.500000
75%    40.000000  80000.000000   10.000000  4.000000
max    45.000000  90000.000000   15.000000  4.500000
Age              35.0
Salary        70000.0
Experience        8.0
Rating            3.5
dtype: float64
Age              35.0
Salary        70000.0
Experience        8.0
Rating            3.5
dtype: float64
      Name  Age  Salary Department           City  Experience  Rating  Status  \
0    Alice   25   50000         HR         Boston           2     2.5  Active
1      Bob   30   60000         IT        Chicago           5     3.0     NaN
2  Charlie   35   70000        NaN    Los Angeles           8     3.5     NaN
3    David   40   80000        NaN       New York          10     4.0     NaN
4      Eve   45   90000        NaN  San Francisco          15     4.5     NaN

  Gender Married
0   Male     Yes
1    NaN     NaN
2    NaN     NaN
3    NaN     NaN
4    NaN     NaN
Age               7.905694
Salary        15811.388301
Experience        4.949747
Rating            0.790569
dtype: float64
Name            Alice
Age                25
Salary          50000
Department    Finance
City           Boston
Experience          2
Rating            2.5
Status         Active
Gender         Female
Married            No
dtype: object
Name                    Eve
Age                      45
Salary                90000
Department               IT
City          San Francisco
Experience               15
Rating                  4.5
Status             Inactive
Gender                 Male
Married                 Yes
dtype: object
['Alice' 'Bob' 'Charlie' 'David' 'Eve']
Name
Alice      1
Bob        1
Charlie    1
David      1
Eve        1
Name: count, dtype: int64

In [ ]:
# Mapping Operations
# These allow you to transform your data:

# map() - for Series

# Create a mapping dictionary
designation= {
    'Alice': 'Manager',
    'Bob': 'Engineer',
    'Charlie': 'Analyst',
    'David': 'Manager',
    'Eve': 'Engineer',
}
df['Designation'] =df['Name'].map(designation)

title_map={
    'Male':'Mr.',
    'Female':'Ms.'
}
df['Title']=df['Gender'].map(title_map)
df.head()


# apply() - for DataFrame or Series

df['Name_length']=df['Name'].apply(len)
df.head()

df['Salary_category']=df.apply(lambda row : 'High' if row['Salary']>60000 else 'Low',axis=1)
df.head()


# applymap() - element-wise for DataFrames

df_upper=df.applymap(lambda x: str(x).upper() if isinstance(x, str) else x)
df_upper.head()

<ipython-input-25-b48f698da700>:35: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_upper=df.applymap(lambda x: str(x).upper() if isinstance(x, str) else x)

,Name,Age,Salary,Department,City,Experience,Rating,Status,Gender,Married,Title,Designation,Name_length,Salary_category
0,ALICE,25,50000,HR,NEW YORK,2,4.5,ACTIVE,MALE,YES,MR.,MANAGER,5,LOW
1,BOB,30,60000,IT,SAN FRANCISCO,5,4.0,INACTIVE,FEMALE,NO,MS.,ENGINEER,3,LOW
2,CHARLIE,35,70000,FINANCE,LOS ANGELES,8,3.5,ACTIVE,MALE,YES,MR.,ANALYST,7,HIGH
3,DAVID,40,80000,HR,CHICAGO,10,3.0,INACTIVE,FEMALE,NO,MS.,MANAGER,5,HIGH
4,EVE,45,90000,IT,BOSTON,15,2.5,ACTIVE,MALE,YES,MR.,ENGINEER,3,HIGH

In [ ]:

sales = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'A', 'B', 'C'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
    'Revenue': [100, 150, 200, 120, 180, 220],
    'Cost': [70, 90, 120, 80, 100, 140]
})
# Problem 1: Basic Summaries

  # 1. Calculate the average revenue and cost

  #2. Find the product with the highest total revenue

  #3. Get summary statistics for numerical columns in the sales DataFrame.

# numeric_sales_data=sales.select_dtypes(include=['number'])
# numeric_sales_data.mean()
# print(sales[['Revenue','Cost']].mean())

# numeric_sales_data.median()
# print(sales[['Revenue','Cost']].median())

# numeric_sales_data.std()
# print(sales[['Revenue','Cost']].std())

# print(sales.groupby('Product')['Revenue'].sum().idxmax())

# print(sales.describe())



# Problem 2: Mapping Operations
# Using the same sales DataFrame:

  #1. Create a new column 'Profit' (Revenue - Cost)

  #2. Categorize products as 'High' (Revenue > 150) or 'Low' otherwise

  #3. Convert all product names to uppercase

sales['Profit']=sales[['Revenue','Cost']].apply(lambda row : row['Revenue']-row['Cost'],axis=1)

sales['Revenue_Categorized']=sales.apply(lambda row: 'High' if row['Revenue']>150 else 'Low',axis=1)

sales_upper=sales.applymap(lambda x: str(x).upper() if isinstance(x,str) else x)
sales_upper.head()
# sales.head()



# Problem 3: Advanced Mapping
# Given a DataFrame of student grades:

grades = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math': [85, 72, 91, 68],
    'Science': [90, 88, 95, 62],
    'History': [78, 92, 84, 70]
})

grades['Average_marks']=grades.apply(lambda row : row[['Math','Science','History']].mean(),axis=1)

def return_value(row):
  if row['Average_marks']>=90:
    return 'A'
  elif row['Average_marks']>=80 and row['Average_marks']<=89:
    return 'B'
  elif row['Average_marks']>=70 and row['Average_marks']<=79:
    return 'C'
  else:
    return 'D'

grades['Grade']=grades.apply(return_value,axis=1)


def normalize(col):
  min_val=col.min()
  max_val=col.max()
  return (col-min_val)/(max_val-min_val)

grades[['Math','Science','History']]=grades[['Math','Science','History']].apply(normalize)
grades.head()

<ipython-input-57-43663a4ce9aa>:44: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  sales_upper=sales.applymap(lambda x: str(x).upper() if isinstance(x,str) else x)

   Student      Math   Science   History  Average_marks Grade
0    Alice  0.739130  0.848485  0.363636      84.333333     B
1      Bob  0.173913  0.787879  1.000000      84.000000     B
2  Charlie  1.000000  1.000000  0.636364      90.000000     A
3    David  0.000000  0.000000  0.000000      66.666667     D

In [ ]:
# Grouping

"""

Grouping in Pandas: Concepts and Problem Set
      Grouping is one of the most powerful features in pandas,
      allowing you to split your data into groups, apply operations
      to each group, and combine the results. Let's explore this
      with a comprehensive problem set.


"""
# Basic Grouping Concepts
# 1. groupby() Fundamentals

import pandas as pd

# Sample DataFrame
data = {
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [70000, 80000, 90000, 75000, 85000, 95000],
    'Experience': [3, 5, 7, 4, 6, 8]
}

df=pd.DataFrame(data)

grouped=df.groupby('Department')
grouped.first()
grouped.get_group('HR')
grouped.get_group('IT')
grouped.get_group('Finance')
# grouped.head()
print(grouped.groups)
    # 'Finance': [2, 5],  # Rows 2 and 5 (0-based index)
    # 'HR': [0, 3],       # Rows 0 and 3
    # 'IT': [1, 4]        # Rows 1 and 4


# 2. Common Aggregation Operations

# Single aggregation
df.groupby('Department')['Salary'].mean()

# Multiple aggregations
df.groupby('Department').agg({
    'Salary': ['mean', 'min', 'max', 'std'],
    'Experience': 'median'
})

# 3. Grouping by Multiple Columns

# Adding a 'Location' column
df['Location'] = ['NY', 'SF', 'NY', 'SF', 'NY', 'SF']
# Group by multiple columns
df.groupby(['Department', 'Location'])['Salary'].mean()

{'Finance': [2, 5], 'HR': [0, 3], 'IT': [1, 4]}

Department  Location
Finance     NY          90000.0
            SF          95000.0
HR          NY          70000.0
            SF          75000.0
IT          NY          85000.0
            SF          80000.0
Name: Salary, dtype: float64

In [ ]:
# Problem Set
# Problem 1: Basic Grouping

#1. Calculate total revenue by region

#2. Find average units sold by product

#3. Get both total revenue and average units by region and product
import pandas as pd

sales = pd.DataFrame({
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Revenue': [100, 150, 200, 120, 180, 220, 190, 130],
    'Units': [10, 15, 20, 12, 18, 22, 19, 13]
})
#1
sales.groupby('Region')['Revenue'].sum()
#2
sales.groupby('Product')['Units'].mean()
#3
sales.groupby(['Region','Product']).agg({
    'Revenue': 'sum',
    'Units': 'mean'
})



# Problem 2: Advanced Aggregations
# Using the same sales data:

# 1. Calculate the percentage each product contributes to total revenue in each region

# 2. Find the difference between maximum and minimum revenue for each product

# 3. Create a custom aggregation that calculates revenue per unit

#1
region_product=sales.groupby(['Region','Product'])['Revenue'].sum()
region_total=sales.groupby('Region')['Revenue'].sum()
print((region_product/region_total*100).round(2))

#2
sales.groupby('Product').agg({
    'Revenue': lambda x: x.max()-x.min()
})

sales.groupby('Product').agg({
    'Revenue': lambda x: x.sum()/x.count()
})

#3
def revenue_per_unit(group):
    return group['Revenue'].sum() / group['Units'].sum()

sales.groupby(['Region', 'Product']).apply(revenue_per_unit)
sales['Revenue_per_unit']=sales.groupby(['Product','Region'])['Revenue'].transform(lambda x: x.sum()/sales.groupby(['Product','Region'])['Units'].transform('sum'))
sales.head()



# Problem 3: Time-Based Grouping

dates = pd.date_range('2023-01-01', periods=12, freq='M')
time_sales = pd.DataFrame({
    'Date': dates,
    'Product': ['A', 'B'] * 6,
    'Sales': [100, 150, 120, 180, 130, 200, 140, 170, 160, 190, 200, 210]
})

time_sales['Quarter']=time_sales['Date'].dt.quarter
time_sales.groupby(['Quarter','Product'])['Sales'].sum()


time_sales['Monthtly_sales_difference']=time_sales.groupby('Product')['Sales'].diff()
time_sales.head()

q1_q2=time_sales[time_sales['Quarter'].isin([1,2])]
q1_q2.groupby(['Quarter','Product'])['Sales'].sum().unstack()

Region  Product
East    A          100.0
North   A          100.0
South   B          100.0
West    B          100.0
Name: Revenue, dtype: float64

<ipython-input-2-a08e021d8f56>:56: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sales.groupby(['Region', 'Product']).apply(revenue_per_unit)
<ipython-input-2-a08e021d8f56>:64: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range('2023-01-01', periods=12, freq='M')

Product    A    B
Quarter
1        220  150
2        130  380

In [ ]:
# Problem 4: Complex Grouping Operations

#1. Calculate average salary by department and gender

#2. Find the age difference between oldest and youngest employee in each department

#3. Create a salary percentile rank within each department

employees = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance', 'HR', 'IT'],
    'Gender': ['F', 'M', 'M', 'F', 'M', 'F', 'F', 'M'],
    'Salary': [70000, 80000, 90000, 75000, 85000, 95000, 78000, 82000],
    'Age': [32, 28, 45, 29, 31, 38, 35, 27]
})

employees.groupby(['Department','Gender'])['Salary'].mean()

employees.groupby('Department')['Age'].apply(lambda x: x.max()-x.min())

employees['Dept_salary_rank']=employees.groupby('Department')['Salary'].rank(ascending=False,pct=True)
employees.sort_values(['Department','Dept_salary_rank'])


# Key Takeaways
      # groupby() splits data into groups based on specified criteria

      # You can apply various aggregation functions to grouped data

      # Multiple grouping keys can be used together

      # Custom aggregation functions provide flexibility

      # Time-based grouping is powerful for temporal analysis

      # Operations within groups (like ranking) are often useful

  Department Gender  Salary  Age  Dept_salary_rank
5    Finance      F   95000   38          0.500000
2    Finance      M   90000   45          1.000000
6         HR      F   78000   35          0.333333
3         HR      F   75000   29          0.666667
0         HR      F   70000   32          1.000000
4         IT      M   85000   31          0.333333
7         IT      M   82000   27          0.666667
1         IT      M   80000   28          1.000000

In [ ]:
# Sorting in Pandas: A Comprehensive Guide
# Pandas provides powerful sorting capabilities for both Series and DataFrames. Here's a complete guide to sorting with practical examples.

# Basic Sorting Methods
# 1. Sorting by Values
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 35],
    'Salary': [50000, 70000, 45000, 80000]
})
# Sort by a single column (ascending)
df_sorted = df.sort_values('Age')
df_sorted.head()

# Sort descending
df_sorted=df.sort_values('Age', ascending=False)
df_sorted.head()

# Sort by multiple columns
df_sorted_multi=df.sort_values(['Age','Salary'],ascending=[True,False])
df_sorted_multi.head()

      Name  Age  Salary
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   70000
3    David   35   80000

In [ ]:
# 2. Sorting by Index

# Shuffle the DataFrame for demonstration
df_shuffled = df.sample(frac=1)
df_shuffled.head()

# Sort by index (ascending)
df_sorted_index = df_shuffled.sort_index()
df_sorted_index.head()

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   22   45000
3    David   35   80000

In [ ]:
# Advanced Sorting Techniques
# 1. Custom Sorting with Key Functions

# Sort names by length
df_sorted_len=df.sort_values('Name',key=lambda x : x.str.len())
# print(df_sorted_len)

# Case-insensitive sorting
df_sorted_case_insensitive=df.sort_values('Name',key=lambda x: x.str.lower())
# print(df_sorted_case_insensitive)


# 2. Sorting with Categorical Data
df['Grade']=pd.Categorical(
    ['B', 'A', 'C', 'B'],
    categories=['A','B','C'],
    ordered=True
)

df_sorted_cat=df.sort_values('Grade')
# print(df_sorted_cat)



# 3. Sorting with Missing Values

# Add some missing values
df_with_nan = df.copy()
df_with_nan.loc[2, 'Age'] = None

# Sort with na_position parameter
df_sorted_nan_last = df_with_nan.sort_values('Age', na_position='last')
df_sorted_nan_first = df_with_nan.sort_values('Age', na_position='first')
print(df_sorted_nan_last)
print(df_sorted_nan_first)

      Name   Age  Salary Grade
0    Alice  25.0   50000     B
1      Bob  30.0   70000     A
3    David  35.0   80000     B
2  Charlie   NaN   45000     C
      Name   Age  Salary Grade
2  Charlie   NaN   45000     C
0    Alice  25.0   50000     B
1      Bob  30.0   70000     A
3    David  35.0   80000     B

In [ ]:
# Practical Examples

# Example 1: Sorting Grouped Data
# Group by department and sort within groups
employees = pd.DataFrame({
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT', 'Finance'],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [70000, 80000, 65000, 90000, 75000, 85000]
})

employees.sort_values(['Department','Salary'],ascending=[True,False])


# Example 2: Sorting MultiIndex DataFrames
# Create a MultiIndex DataFrame
index = pd.MultiIndex.from_tuples([
    ('IT', 'Senior'),
    ('IT', 'Junior'),
    ('HR', 'Senior'),
    ('HR', 'Junior')
])
multi_df = pd.DataFrame({
    'Salary': [90000, 60000, 80000, 50000],
    'Count': [5, 10, 3, 8]
}, index=index)

print(multi_df)
# Sort by level
multi_df_sorted = multi_df.sort_index(level=[0, 1])
print(multi_df_sorted)

# Example 3: Sorting by Column Names

# Create DataFrame with mixed column names
df_columns = pd.DataFrame({
    'Salary': [50000, 60000, 70000],
    'age': [25, 30, 35],
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Sort columns alphabetically
df_columns_sorted = df_columns.sort_index(axis=1)
print(df_columns_sorted)

           Salary  Count
IT Senior   90000      5
   Junior   60000     10
HR Senior   80000      3
   Junior   50000      8
           Salary  Count
HR Junior   50000      8
   Senior   80000      3
IT Junior   60000     10
   Senior   90000      5
      Name  Salary  age
0    Alice   50000   25
1      Bob   60000   30
2  Charlie   70000   35

In [ ]:
# Performance Considerations
# 1. In-place Sorting: Use inplace=True to modify the original DataFrame
df.sort_values('Age', inplace=True)
# 2. Sorting Large DataFrames: For better performance with large datasets:
df.nlargest(10, 'Salary')  # Equivalent to sort + head
df.nsmallest(5, 'Age')     # Equivalent to sort + tail

# 3. Stable Sorting: Use stable sort for preserving original order of equal elements
df.sort_values('Department', kind='mergesort')

In [ ]:
# Common Pitfalls
# 1. Forgetting to Assign: Sorting methods return a new DataFrame by default

# Wrong - original df remains unchanged
df.sort_values('Age')

# Correct
df = df.sort_values('Age')
# Or use inplace=True
df.sort_values('Age', inplace=True)

# 2. Mixed Data Types: Ensure columns have consistent types before sorting
# Check dtypes first
print(df.dtypes)

# 3. Case Sensitivity: String sorting is case-sensitive by default
# Use key parameter for case-insensitive sorting
df.sort_values('Name', key=lambda x: x.str.lower())

Name        object
Age          int64
Salary       int64
Grade     category
dtype: object

      Name  Age  Salary Grade
0    Alice   25   50000     B
1      Bob   30   70000     A
2  Charlie   22   45000     C
3    David   35   80000     B

In [ ]:
"""
Understanding dtype and Missing Values in Pandas: A Comprehensive Guide
      Pandas is a powerful Python library for data manipulation and analysis,
      and two of its most critical concepts are data types (dtype) and missing
      value handling. Let's explore these in detail with practical examples and
      real-world scenarios.


Pandas dtype	        Python/NumPy type	            Description
object	                  str or mixed	              Text or mixed numeric/non-numeric values
int64	                    int	                        Integer numbers (64-bit)
float64	                  float	                      Floating point numbers (64-bit)
bool	                    bool	                      True/False values
datetime64	              datetime	                  Date and time values
timedelta[ns]	            timedelta	                  Differences between datetimes
category	                --	                        Finite list of text values

"""

import pandas as pd

# Create a sample DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'score': [89.5, 92.3, 87.6],
    'employed': [True, False, True]
}

df =pd.DataFrame(data)
# Check data types---------------------
df.dtypes # for DataFrame or for all columns
df.age.dtype # for specific column


# Convert data types------------
df.age=df.age.astype('float64')# Convert age to float
df.head()

df.employed=df.employed.astype('int64')
df.head()

df.name=df.name.astype('category')# Convert name to category
df.head()

      name   age  score  employed
0    Alice  25.0   89.5         1
1      Bob  30.0   92.3         0
2  Charlie  35.0   87.6         1

In [ ]:
# Why Data Types Matter

#1.  Memory Efficiency: Using appropriate types can significantly reduce memory usage.
#2.  Performance: Operations are faster with proper numeric types than with objects.
#3.  Correctness: Some operations only work with specific types (e.g., mathematical operations on numeric types).


"""
Real-World Problem: Memory Optimization

Scenario: You're working with a large dataset of customer information (10 million records) where a "gender" column contains only 'M' and 'F' values.
Problem: Storing this as object dtype consumes excessive memory.

"""

"""
# 2. Missing Values in Pandas
# Representation of Missing Values
# Pandas uses several representations for missing data:

#1.  NaN (Not a Number): Default missing value for float dtype

#2.  None: Python's null object, used with object dtype

#3.  NaT (Not a Time): For datetime64 dtype

#4.  pd.NA: New universal missing value indicator (pandas 1.0+)

"""

In [ ]:
# Detecting Missing Values
# Sample DataFrame with missing values
data = {
    'A': [1, 2, None, 4],
    'B': [2.5, None, 5.5, 6.0],
    'C': ['x', 'y', None, 'z'],
    'D': [pd.Timestamp('20200101'), None, None, pd.Timestamp('20200104')]
}
df = pd.DataFrame(data)


# # Key Point: isna() and isnull() are identical - they do exactly the same thing.
# # Check for missing values
# df.isna()
# # Count missing values per column
# df.isna().sum()
# # Check for missing values
# df.isnull()

# # This is simply the logical inverse of isna()/isnull():
# df.notnull()
# df.notnull().sum()


"""
4. Usage Recommendations
Consistency: Pick one (isna() or isnull()) and stick with it in your codebase

    isna() is generally preferred as it's more Pythonic (NaN is the standard missing value marker)

Readability: Use notnull() when you want positive phrasing

    df[df.column.notnull()] reads better than df[~df.column.isna()]

Performance: All have identical performance since they're aliases

"""

     A    B  C          D
0  1.0  2.5  x 2020-01-01
3  4.0  6.0  z 2020-01-04

In [ ]:
# Handling Missing Values
# 1. Dropping missing values:
data = {
    'A': [1, 2, None, 4],
    'B': [2.5, None, 5.5, 6.0],
    'C': ['x', 'y', None, 'z'],
    'D': [pd.Timestamp('20200101'), None, None, pd.Timestamp('20200104')]
}
df = pd.DataFrame(data)

df.dropna() # Drop rows with any missing values
df.dropna(axis=1)  # Drop columns with any missing values
df.dropna(thresh=3)  # Keep rows with at least 3 non-NA values


# 2. Filling missing values:
df.fillna(0)  # Fill with a scalar value
df.fillna(method='ffill')  # Forward fill (fill with previous value)
df.fillna(method='bfill')  # Backward fill (fill with next value)
df.fillna({'A':0,'B':df['B'].mean()}) # Different fills per column
df.ffill() # Forward fill
df.bfill() # Backward fill


# 3. Interpolation:
df.interpolate() # Linear interpolation
# df.interpolate(method='polynomial', order=2) # Polynomial interpolation

<ipython-input-43-0e8b17cedee7>:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')  # Forward fill (fill with previous value)
<ipython-input-43-0e8b17cedee7>:19: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')  # Backward fill (fill with next value)
<ipython-input-43-0e8b17cedee7>:26: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate() # Linear interpolation

     A    B     C          D
0  1.0  2.5     x 2020-01-01
1  2.0  4.0     y 2020-01-02
2  3.0  5.5  None 2020-01-03
3  4.0  6.0     z 2020-01-04

In [ ]:
"""
Real-World Problem: Time Series Data with Gaps
Scenario: You're analyzing daily temperature data with some days
missing due to sensor failures.
Problem: Missing values break time series analysis and visualization.

Solution Options:

"""

# Option 1: Forward fill (carry last observation forward)
df['temperature'].ffill(inplace=True)

# Option 2: Interpolate based on time
df['temperature'].interpolate(method='time', inplace=True)

# Option 3: Fill with seasonal average
df['temperature'].fillna(df.groupby('month')['temperature'].transform('mean'), inplace=True)

In [ ]:
# 3. Interaction Between dtype and Missing Values

# a.  Type-Specific Missing Values

# Numeric columns get NaN
s = pd.Series([1, 2, None])
print(s.dtype)  # float64 (None becomes NaN)

# Object columns can hold None or NaN
s = pd.Series(['a', 'b', None])
print(s.dtype)  # object

# Boolean columns with None become object dtype
s = pd.Series([True, False, None])
print(s.dtype)  # object


# b.  Using pd.NA (Pandas 1.0+)

# pd.NA is a new missing value indicator that works across all dtypes:
s = pd.Series([1, 2, pd.NA], dtype='Int64')  # New nullable integer type
print(s)

s = pd.Series([True, False, pd.NA], dtype='boolean')
print(s)

float64
object
object
0       1
1       2
2    <NA>
dtype: Int64
0     True
1    False
2     <NA>
dtype: boolean

In [ ]:
# Real-World Problem: Mixed Data Types in CSV
# Scenario: You load a CSV file where a column contains mostly numbers but some 'N/A' strings.

# Problem: Pandas infers the column as object dtype, preventing numeric operations.
# Solution:

# Read with explicit dtype and na_values
df = pd.read_csv('data.csv', dtype={'price': float}, na_values=['N/A', 'missing'])

# Or convert after loading
df['price'] = pd.to_numeric(df['price'], errors='coerce')  # Converts invalid parsing to NaN


"""

4. Best Practices
a. Check dtypes early: Always examine df.dtypes after loading data.
b. Handle missing values deliberately: Don't ignore them - they can affect your analysis.
c. Use appropriate numeric types: Downcast when possible to save memory.
d. Consider nullable dtypes: For pandas 1.0+, use Int64, boolean, etc. for better NA handling.
e. Document missing value meanings: In real data, NA might mean "not measured", "not applicable", or "zero" - document these cases.


"""

In [ ]:
def validate_data(df):
    """Validate DataFrame structure and content"""
    # Check expected columns exist
    required_cols = ['id', 'date', 'value']
    missing = set(required_cols) - set(df.columns)
    if missing:
        raise ValueError(f"Missing columns: {missing}")

    # Check dtypes
    if not pd.api.types.is_numeric_dtype(df['value']):
        raise TypeError("'value' must be numeric")

    # Check for unexpected missing values
    if df['id'].isna().any():
        raise ValueError("Missing values in ID column")

    # Check date range
    if not pd.api.types.is_datetime64_dtype(df['date']):
        df['date'] = pd.to_datetime(df['date'], errors='coerce')
        if df['date'].isna().any():
            raise ValueError("Invalid date values")

    return True

data={
    'id':[1,2,None],
    'date':['2023-01-01','2023-01-02','2023-01-03'],
    'value':[34,53,33]
}
df=pd.DataFrame(data)
print(validate_data(df))

In [ ]:
# Renaming in Pandas
# Common Methods:
# 1. rename() - Rename columns or index labels

# 2. Direct column assignment - df.columns = new_columns_list


# Real-Life Use Case: Standardizing Column Names
# Imagine you're working with sales data from different regions
# where each region used slightly different column names:


import pandas as pd

# Original messy data
sales_data = pd.DataFrame({
    'Transaction_ID': [101, 102, 103],
    'Prod_Name': ['Widget A', 'Widget B', 'Widget C'],
    'Qty_sold': [5, 3, 7],
    'Sale_Amt($)': [125.50, 89.70, 210.25]
})

print("Original columns:")
print(sales_data.columns)

# Standardize column names
sales_data = sales_data.rename(columns={
    'Transaction_ID': 'transaction_id',
    'Prod_Name': 'product_name',
    'Qty_sold': 'quantity',
    'Sale_Amt($)': 'sale_amount'
})

print("\nStandardized columns:")
print(sales_data.columns)

Original columns:
Index(['Transaction_ID', 'Prod_Name', 'Qty_sold', 'Sale_Amt($)'], dtype='object')

Standardized columns:
Index(['transaction_id', 'product_name', 'quantity', 'sale_amount'], dtype='object')

In [ ]:
# Combining DataFrames in Pandas
# Common Methods:
# 1. concat() - Stack DataFrames vertically or horizontally
# 2. merge() - SQL-style joins
# 3. join() - Convenience method for merging on indices


# Real-Life Use Case: Combining Monthly Sales Reports
# Monthly sales data for Q1
jan_sales = pd.DataFrame({
    'product_id': ['P100', 'P101', 'P102'],
    'jan_sales': [120, 95, 200]
})

feb_sales = pd.DataFrame({
    'product_id': ['P100', 'P101', 'P103'],
    'feb_sales': [150, 110, 180]
})

mar_sales = pd.DataFrame({
    'product_id': ['P100', 'P102', 'P103'],
    'mar_sales': [130, 210, 190]
})

# Combine using merge (left join to keep all products)
q1_sales=jan_sales.merge(feb_sales,on='product_id',how='left')
q1_sales=q1_sales.merge(mar_sales,on='product_id',how='left')

print("\nCombined quarterly sales:")
# print(q1_sales)

#=================================================================================

# Another Example: Combining Customer Data from Different Sources
# Customer demographic data
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'join_date': ['2022-01-15', '2021-11-03', '2023-02-20', '2022-07-10']
})

# Customer purchase data
purchases = pd.DataFrame({
    'purchase_id': [101, 102, 103, 104],
    'cust_id': [1, 2, 1, 3],
    'amount': [49.99, 29.99, 99.99, 14.99],
    'date': ['2023-01-10', '2023-01-12', '2023-01-15', '2023-01-20']
})

# Combine with merge (note different column names for customer ID)
customer_analysis= customers.merge(purchases,left_on='customer_id',right_on='cust_id',how='left')
print("\nCustomer analysis:")
print(customer_analysis)

# Clean up by dropping the redundant column and renaming
customer_analysis=customer_analysis.drop(columns='cust_id',axis=1)
customer_analysis=customer_analysis.rename(columns={
    'date':'purchase_date'
})

print("\nCustomer analysis:")
print(customer_analysis)

Combined quarterly sales:

Customer analysis:
   customer_id     name   join_date  purchase_id  cust_id  amount        date
0            1    Alice  2022-01-15        101.0      1.0   49.99  2023-01-10
1            1    Alice  2022-01-15        103.0      1.0   99.99  2023-01-15
2            2      Bob  2021-11-03        102.0      2.0   29.99  2023-01-12
3            3  Charlie  2023-02-20        104.0      3.0   14.99  2023-01-20
4            4    Diana  2022-07-10          NaN      NaN     NaN         NaN

Customer analysis:
   customer_id     name   join_date  purchase_id  amount purchase_date
0            1    Alice  2022-01-15        101.0   49.99    2023-01-10
1            1    Alice  2022-01-15        103.0   99.99    2023-01-15
2            2      Bob  2021-11-03        102.0   29.99    2023-01-12
3            3  Charlie  2023-02-20        104.0   14.99    2023-01-20
4            4    Diana  2022-07-10          NaN     NaN           NaN

In [ ]:
# 1. pd.concat() - Stacking DataFrames Vertically or Horizontally
# Use Cases & Examples:
# A. Vertical Concatenation (Row-wise)
# Scenario: Combining monthly sales reports into a single yearly report.


# Monthly sales data
jan_sales = pd.DataFrame({
    'product_id': ['P100', 'P101', 'P102'],
    'sales': [120, 95, 200]
})

feb_sales = pd.DataFrame({
    'product_id': ['P100', 'P103', 'P104'],
    'sales': [150, 180, 90]
})

# Combine vertically (stack rows)
yearly_sales=pd.concat([jan_sales,feb_sales],ignore_index=True)
print("\nYearly sales:")
print(yearly_sales)


# B. Horizontal Concatenation (Column-wise)
# Scenario: Adding new metrics (e.g., "profit") to an existing sales DataFrame.

sales = pd.DataFrame({
    'product_id': ['P100', 'P101', 'P102'],
    'sales': [120, 95, 200]
})

profit = pd.DataFrame({
    'profit': [30, 15, 50]
})

# Combine horizontally (side by side)
sales_report = pd.concat([sales, profit], axis=1)

print(sales_report)

Yearly sales:
  product_id  sales
0       P100    120
1       P101     95
2       P102    200
3       P100    150
4       P103    180
5       P104     90
  product_id  sales  profit
0       P100    120      30
1       P101     95      15
2       P102    200      50

In [ ]:
# 2. pd.merge() - SQL-Style Joins
# Used to combine datasets based on common columns (like SQL JOIN).

# Use Cases & Examples:
# A. Inner Join (Default)
# Scenario: Matching customer orders with customer details.
customers = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103],
    'customer_id': [1, 2, 4],
    'amount': [49.99, 29.99, 19.99]
})

# Inner join (only matching records)

merged=pd.merge(customers,orders,on='customer_id',how='inner')
print("Inner merge: ")
print(merged)


# B. Left Join (Keep All Customers)
# Scenario: Get all customers, even if they havenâ€™t placed orders.

merge_left=pd.merge(customers,orders,on='customer_id',how='left')
print("Left merge: ")
print(merge_left)

# C. Right Join (Keep All Orders)
# Scenario: Get all orders, even if customer details are missing.

merge_right=pd.merge(customers,orders,on='customer_id',how='right')
print("Right merge: ")
print(merge_right)

# D. Outer Join (Keep All Records)
# Scenario: Get all customers and all orders, including unmatched records.

merge_outer=pd.merge(customers,orders,on='customer_id',how='outer')
print("Outer merge: ")
print(merge_outer)

Inner merge:
   customer_id   name  order_id  amount
0            1  Alice       101   49.99
1            2    Bob       102   29.99
Left merge:
   customer_id     name  order_id  amount
0            1    Alice     101.0   49.99
1            2      Bob     102.0   29.99
2            3  Charlie       NaN     NaN
Right merge:
   customer_id   name  order_id  amount
0            1  Alice       101   49.99
1            2    Bob       102   29.99
2            4    NaN       103   19.99
Outer merge:
   customer_id     name  order_id  amount
0            1    Alice     101.0   49.99
1            2      Bob     102.0   29.99
2            3  Charlie       NaN     NaN
3            4      NaN     103.0   19.99

In [ ]:
# 3. df.join() - Merging on Indices
# A shortcut for merging when joining on indexes instead of columns.

# Use Cases & Examples:
# A. Joining DataFrames with Index Alignment
# Scenario: Combining stock prices (indexed by date).

prices = pd.DataFrame({
    'price': [100, 105, 110]
}, index=['2023-01-01', '2023-01-02', '2023-01-03'])

volumes = pd.DataFrame({
    'volume': [1000, 1500, 2000]
}, index=['2023-01-01', '2023-01-02', '2023-01-03'])

# Join on index
combined = prices.join(volumes)
print("Joined DataFrame:")
print(combined)


# B. Joining with Different Indexes (Left Join)
# Scenario: Merging employee data (some missing records).
employees = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie']
}, index=[1, 2, 3])

salaries = pd.DataFrame({
    'salary': [5000, 6000]
}, index=[1, 2])

# Left join (keep all employees)
left_joined=employees.join(salaries,how='left')
print("Left joined DataFrame:")
print(left_joined)



"""

Summary of Use Cases
  Method	          Best For	                                    Example Use Case
  concat()	        Stacking DataFrames (rows or columns)	        Combining monthly reports
  merge()	          SQL-style joins (inner, left, right, outer)	  Merging customer + order data
  join()	          Merging on indexes	                          Combining stock prices & volumes


"""

Joined DataFrame:
            price  volume
2023-01-01    100    1000
2023-01-02    105    1500
2023-01-03    110    2000
Left joined DataFrame:
      name  salary
1    Alice  5000.0
2      Bob  6000.0
3  Charlie     NaN

In [ ]:
# rename() in Pandas: All Use Cases with Real-World Examples
# The rename() method in Pandas is used to modify column names or row index labels in a DataFrame. It is particularly useful for:

# 1. Standardizing column names (e.g., converting to lowercase)

# 2. Making names more descriptive (e.g., amt â†’ amount)

# 3. Fixing typos (e.g., custmer_id â†’ customer_id)

# 4. Renaming index labels (e.g., changing row IDs)



# 1. Renaming Columns
# A. Basic Column Renaming (Single Column)
# Scenario: Fixing a typo in a column name.
import pandas as pd

df = pd.DataFrame({
    'custmer_id': [1, 2, 3],
    'amt': [100, 200, 300]
})

df = df.rename(columns={'custmer_id': 'customer_id'})
print(df.columns)


# B. Renaming Multiple Columns
# Scenario: Standardizing column names (e.g., converting to lowercase).
df = df.rename(columns={
    'customer_id': 'customer_id',
    'amt': 'amount'
})
print(df.columns)

# C. Renaming Columns In-Place (Without Reassignment)
# Scenario: Modifying column names directly without creating a new DataFrame.
df.rename(columns={'amount': 'sale_amount'}, inplace=True)
print(df.columns)

# D. Renaming Columns Using a Function (Lambda)
# Scenario: Applying a transformation to all column names (e.g., converting to uppercase).
df.rename(columns=lambda x: x.upper(), inplace=True)
print(df.columns)



# 2. Renaming Index Labels
# A. Renaming Row Index (Single Row)
# Scenario: Correcting an incorrect index label.
df = pd.DataFrame({
    'sales': [100, 200, 300]
}, index=['store1', 'store2', 'stor3'])

df = df.rename(index={'stor3': 'store3'})
print(df.index)

# B. Renaming All Index Labels (Using a Function)
# Scenario: Adding a prefix to all index labels.
df = df.rename(index=lambda x: 'prefix_' + x)
print(df.index)

df=df.rename(index=lambda x: x.replace('prefix_',''))
print(df.index)

df=df.rename(index=lambda x: f'prefix_{x}')
print(df.index)


# 3. Renaming Both Columns & Index at Once
# Scenario: Standardizing a DataFrame with inconsistent naming.
df = pd.DataFrame({
    'Sales_Amt': [100, 200, 300],
    'Qty': [5, 10, 15]
}, index=['st1', 'st2', 'st3'])

df = df.rename(
    columns={'Sales_Amt': 'sales', 'Qty': 'quantity'},
    index={'st1': 'store1', 'st2': 'store2', 'st3': 'store3'}
)
print(df)


# 4. Real-World Use Cases
# Case 1: Cleaning Survey Data (Inconsistent Column Names)
survey_data = pd.DataFrame({
    'Respondent ID': [1, 2, 3],
    'Age (Years)': [25, 30, 35],
    'Income ($)': [50000, 60000, 70000]
})

survey_data = survey_data.rename(columns={
    'Respondent ID': 'respondent_id',
    'Age (Years)': 'age',
    'Income ($)': 'income'
})
print(survey_data.columns)

# Case 2: Financial Data (Standardizing Column Names)
stock_data = pd.DataFrame({
    'Ticker': ['AAPL', 'GOOG', 'MSFT'],
    'Prc': [150, 2800, 300],
    'Vol': [1000000, 500000, 2000000]
})

stock_data = stock_data.rename(columns={
    'Prc': 'price',
    'Vol': 'volume'
})
print(stock_data.columns)

Index(['customer_id', 'amt'], dtype='object')
Index(['customer_id', 'amount'], dtype='object')
Index(['customer_id', 'sale_amount'], dtype='object')
Index(['CUSTOMER_ID', 'SALE_AMOUNT'], dtype='object')
Index(['store1', 'store2', 'store3'], dtype='object')
Index(['prefix_store1', 'prefix_store2', 'prefix_store3'], dtype='object')
Index(['store1', 'store2', 'store3'], dtype='object')
Index(['prefix_store1', 'prefix_store2', 'prefix_store3'], dtype='object')
        sales  quantity
store1    100         5
store2    200        10
store3    300        15
Index(['respondent_id', 'age', 'income'], dtype='object')
Index(['Ticker', 'price', 'volume'], dtype='object')

In [ ]:
# practice problem

# Example: Comparing Product Sales Between US and UK Stores
# 1. Prepare the Data
import pandas as pd

# US sales data
us_sales = pd.DataFrame({
    'product_id': ['P100', 'P101', 'P102'],
    'date': ['2023-01-01', '2023-01-01', '2023-01-02'],
    'units_sold': [150, 200, 75],
    'revenue': [7500, 10000, 3750]
})

# UK sales data
uk_sales = pd.DataFrame({
    'product_id': ['P100', 'P101', 'P103'],
    'date': ['2023-01-01', '2023-01-02', '2023-01-02'],
    'units_sold': [120, 180, 90],
    'revenue': [6000, 9000, 4500]
})

# Set multi-index (product_id + date)
us_sales = us_sales.set_index(['product_id', 'date'])
uk_sales = uk_sales.set_index(['product_id', 'date'])

# 2. Join the DataFrames
# Left join with suffixes
combined_sales = us_sales.join(uk_sales, lsuffix='_US', rsuffix='_UK')
print(combined_sales)

                       units_sold_US  revenue_US  units_sold_UK  revenue_UK
product_id date
P100       2023-01-01            150        7500          120.0      6000.0
P101       2023-01-01            200       10000            NaN         NaN
P102       2023-01-02             75        3750            NaN         NaN

In [ ]:
# practice problem
# Example: Renaming DataFrame Axes for Clarity

import pandas as pd

# Sample wine review data
reviews = pd.DataFrame({
    'points': [90, 92, 89],
    'price': [45, 120, 30],
    'variety': ['Chardonnay', 'Pinot Noir', 'Merlot']
}, index=['Wine_A', 'Wine_B', 'Wine_C'])

print("Original DataFrame:")
print(reviews)


# Applying rename_axis() to Both Axes
reviews=reviews.rename_axis('wines',axis='rows').rename_axis('fields',axis='columns')
print("\nDataFrame with renamed axes:")

Original DataFrame:
        points  price     variety
Wine_A      90     45  Chardonnay
Wine_B      92    120  Pinot Noir
Wine_C      89     30      Merlot

DataFrame with renamed axes:

KeyError: 'fields'